<form asp-controller="Review" asp-action="Create" method="Get">
    <div class="form-group">
        <label for="reservationCode">Enter ReservationCode to write a review</label>
        <input type="text" class="form-control" id="reservationCode" name="reservationCode"
            placeholder="Enter reservation code">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>